:root {
    --cor0: black;
    --cor1: #AFEB00;
    --cor2: #B7CE63;
    --cor3: #3C462E;
    --cor4: #30332B;
    --cor5: #DADDD8;
    --cor6: white;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--cor1);
    padding: 20px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex; 
    flex-flow: row;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: var(--cor1);
    text-align: center;
    padding: 20px;
    box-shadow:0 -10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/*HEADER: mais definições*/
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

.container-foto-perfil {
    margin-right: 20px;
}

.foto-perfil {
    width: 100px;
    /*box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
    border: white solid;
    box-sizing: border-box;
}
/*HEADER: end*/


h2 {
    margin: 20px 0;
    color: var(--cor2);
}

.projeto {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.projeto img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}


/* GRID DO PORTFÓLIO */
.grid-container-portfolio {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    padding: 20px;
}

.grid-container-portfolio > div {
    height: 300px;
    box-sizing: border-box;
    text-align: center;
    align-content: center;
    /*border: 1px solid black;*/
    box-shadow: 5px 5px 10px gray;
    border-radius: 20px;
}

.grid-container-portfolio > div:hover {
    transform: translateY(-10px);
}

@media (max-width: 800px) {
    .grid-container-portfolio {
        grid-template-columns: auto;
    }
}

/* CARDS DO PORTFÓLIO */

.back-top {
    background-color: var(--cor4);
    border-radius: 20px 20px 0 0;
    height: 80%;
}

.back-bottom {
    background-color: var(--cor1);
    border-radius: 20px 0px 20px 20px;
}

.front-top {
    border-radius: 20px 20px 0 20px;
    padding: 5px;
    background-color: var(--cor1);
    height: 100%;
    box-sizing: border-box;
    align-content: center;
}

.front-bottom {
    border-radius: 0 20px 20px 20px;
    padding: 5px;
    background-color: var(--cor4);
    box-sizing: border-box;
    color: var(--cor6);
}

div.front-top img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


/* CONTATO: estilos */

.contact-section {
    margin-bottom: 100px;
}

section.contact-section ul {
    list-style-type: none;
}

hr {
    border: 1px solid var(--cor2);
}